input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-toast {
    width: 450px !important;
    position: fixed !important;
    bottom: 20px !important;
    left: 20px !important;
}

@media (max-width: 768px) {
    .custom-toast {
        width: 300px !important;
        font-size: small !important;
        position: fixed !important;
        top: 20px !important;
        left: 20px !important;
        bottom: auto !important;
        margin-top: 65px;
    }
}


input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes scrollBanner {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    display: flex;
    width: max-content;
    animation: scrollBanner 25s linear infinite;
}

.relative:hover .animate-scroll {
    animation-play-state: paused;
}

@keyframes scrollBannerNoPause {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-scrollSponsor {
    display: flex;
    width: max-content;
    animation: scrollBannerNoPause 8s linear infinite;
}


.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}


